#mainNav {
    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    background-color: black;
    opacity: 0.8;
}

body {
    background-color: #efefef;
    color: #191919;
}

.text-center {
    text-align: left!important;
}

.box {
    background-color: #efefef;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 3%;
    color: #191919;
}

.case1 {
    /*background-color:*/
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 5%;
    margin-bottom: 10px;
    margin-left: 15px;
}

.box2 {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#num {
    color: #ac2b24;
    font-size: 30px;
}

.subheader {
    color: #7d756b;
}

.rule {
    background-color: #fffaea;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 2%;
    opacity: 0.8;
}

.box3 {
    background-color: #efefef;
    padding-top: 5px;
    /*padding-bottom: 2px;*/
    padding-left: 5px;
    padding-right: 2px;
    border-radius: 3%;
    opacity: 0.8;
}