 #head1 {
     color: red;
 }
 
 .p1 {
     font-size: 20px;
     color: rgb(255, 255, 0);
 }
 
 #avatar {
     margin: 5px auto 8px;
     display: inline-block;
     padding: 1px;
     vertical-align: bottom;
     border-radius: 50%;
     height: 150px;
     width: 150px;
     border: 5px solid #E7E7E7;
     background: url(倒影.jpg) no-repeat center center;
     background-size: contain;
 }