 meta {
     display: none;
 }
 
 html {
     color: #222;
     font-size: 1em;
     line-height: 1.4;
 }
 /*.header {
            box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.50);
            border-radius: 3px;
            background: url(倒f影.jpg) no-repeat center center;
            background-size: 100%, auto;
            height: 10em;
            max-width: 900px;
            margin: auto;
        }*/
 
 * {
     box-sizing: border-box;
 }
 
 body {
     margin: 0;
 }
 
 body {
     background: #eceef2;
     background-repeat: no-repeat;
     background-size: cover;
     text-align: center;
 }
 
 .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     text-align: left;
 }
 
 #avatar {
     margin: 40px auto 8px;
     display: inline-block;
     padding: 1px;
     vertical-align: bottom;
     border-radius: 50%;
     height: 150px;
     width: 150px;
     border: 5px solid #E7E7E7;
     background: url(headshot.jpg) no-repeat center center;
     background-size: 100%, auto;
 }
 
 .column_2 {
     background: #f7f7f7;
 }
 
 .flex {
     display: flex;
     flex-wrap: wrap;
     align-items: flex-start;
     text-align: left;
 }
 
 .box {
     display: block;
     /* margin: 5%; */
     padding: 1em 2em 0 2em;
     min-height: 200px;
     text-align: left;
     min-width: 400px;
     max-width: 555px;
     float: left;
 }
 
 h1 {
     display: block;
     font-size: 1.5em;
     -webkit-margin-before: 0.67em;
     -webkit-margin-after: 0.67em;
     -webkit-margin-start: 15px;
     -webkit-margin-end: 0px;
     font-weight: bold;
 }
 
 h2 {
     display: block;
     font-size: 1.1em;
     -webkit-margin-before: 0.80em;
     -webkit-margin-after: 0.80em;
     -webkit-margin-start: 20px;
     -webkit-margin-end: 0px;
     font-weight: bold;
 }
 
 a {
     background-color: transparent;
     padding: 1em;
 }
 
 .portfolio-item {
     background: #F3F3F3;
     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.40);
     border-radius: 12px;
     margin: auto;
     /* min-width: 500px; */
     height: 120px;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all .2s ease-in-out;
     -webkit-transition: all .2s ease-in-out;
 }
 
 .portfolio-item span {
     font-size: xx-large;
     font-weight: bold;
     color: white;
     text-decoration: none;
     text-shadow: #222222;
 }
 
 #portfolio-1 {
     background: url(深圳桥.jpg) no-repeat center center;
     background-size: 100% auto;
 }
 
 #portfolio-2 {
     background: url(凋零.jpg) no-repeat center center;
     background-size: 100% auto;
 }
 
 #portfolio-3 {
     background: url(晚霞.jpg) no-repeat center center;
     background-size: 100% auto;
 }
 
 .glyphicon {
     position: relative;
     top: 20px;
     display: inline-block;
     font-family: 'Glyphicons Halflings';
     font-style: normal;
     font-weight: 400;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
 }
 
 .progress {
     width: 95%;
     float: left;
     background-image: linear-gradient(to bottom, #f2dede 0, #f2dede 100%);
     background-repeat: repeat-x;
     margin-left: 1em;
     height: 20px;
     margin-bottom: 20px;
     overflow: hidden;
     background-color: #f5f5f5;
     border-radius: 4px;
     -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
     box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
 }
 
 .progress-bar {
     background-image: linear-gradient(to bottom, #99c5ff 0, #286090 100%);
     background-repeat: repeat-x;
     float: left;
     width: 0;
     height: 100%;
     font-size: 12px;
     line-height: 20px;
     color: #fff;
     text-align: center;
     background-color: #337ab7;
     -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
     box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
     -webkit-transition: width .6s ease;
     -o-transition: width .6s ease;
     transition: width .6s ease;
 }