            body {
                font-family: Lora, 'Helvetica Neue', Helvetica, Arial, sans-serif;
                position: relative;
                width: 100%;
                height: 100%;
                color: black;
                background-color: #fff
            }
            
            html {
                width: 100%;
                height: 100%
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-weight: 700;
                margin: 0 0 25px;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: black;
            }
            
            h1 {
                color: rgba(158, 98, 38, 1);
                /*text-align: center;*/
                margin-top: 50px;
            }
            
            h4 {
                color: rgba(164, 45, 35, 1);
            }
            
            p {
                font-size: 16px;
                line-height: 1.5;
                margin: 0 0 25px
            }
            
            #question {
                background-color: #efdfae;
                width: 100%;
                height: auto;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            
            .case1 {
                display: none;
                margin-top: 20px;
            }
            
            .totalnum {
                color: rgba(226, 36, 36, 1);
                font-size: 25px;
            }
            
            #pic1 {
                margin-top: 50px;
            }
            
            #pic2 {
                margin-bottom: 50px;
            }
            
            #box {
                border-style: solid;
                border-width: 1px;
                border-color: rgba(0, 0, 0, .3);
                /*background-color: rgba(226, 36, 36, .3);*/
                padding: 10px;
                /*font-size: 15px;*/
            }
            
            hr {
                height: 30px;
                border-top: 2px solid rgba(164, 45, 35, .7);
            }
            
            video {
                margin-bottom: 80px;
            }
            
            #source {
                display: none;
                font-size: 15px;
            }
            
            .punish {
                color: rgba(226, 36, 36, 1);
            }
            
            #ending {
                background-color: #efdfae;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            /*a {
                -webkit-transition: all .2s ease-in-out;
                -moz-transition: all .2s ease-in-out;
                transition: all .2s ease-in-out;
                color: #42dca3
            }
            
            a:focus,
            a:hover {
                text-decoration: none;
                color: #1d9b6c
            }*/
            
            #mainNav {
                font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
                margin-bottom: 0;
                text-transform: uppercase;
                border-bottom: 1px solid rgba(255, 255, 255, .3);
                background-color: #fff;
            }
            
            #mainNav .navbar-toggler {
                font-size: 14px;
                padding: 11px;
                color: rgba(158, 98, 38, 1);
                border: 1px solid rgba(158, 98, 38, 1);
            }
            
            #mainNav a {
                color: rgba(158, 98, 38, 1);
            }
            
            .navbar-collapse {
                -ms-flex-preferred-size: 100%;
                flex-basis: 100%;
                -ms-flex-align: center;
                align-items: center;
                /*margin-right: 10%;*/
            }
            
            #mainNav .navbar-nav .nav-item {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out
            }
            
            #mainNav .navbar-nav .nav-item:hover {
                color: fade(white, 80%);
                outline: 0;
                background-color: transparent
            }
            
            #mainNav .navbar-nav .nav-item:active,
            #mainNav .navbar-nav .nav-item:focus {
                outline: 0;
                background-color: transparent
            }
            
            .masthead {
                display: table;
                width: 100%;
                height: auto;
                padding: 200px 0;
                text-align: center;
                color: rgba(158, 98, 38, 1);
                /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
                background-color: #fff;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover
            }
            
            .masthead .intro-body {
                display: table-cell;
                vertical-align: middle
            }
            
            .masthead .intro-body .brand-heading {
                font-size: 30px
            }
            
            .masthead .intro-body .intro-text {
                font-size: 18px；
            }
            
            .btn-circle {
                font-size: 26px;
                width: 55px;
                height: 55px;
                margin-top: 15px;
                line-height: 38px;
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                color: #fff;
                border: 2px solid #fff;
                border-radius: 100%!important;
                background: 0 0
            }
            
            .btn-circle:focus,
            .btn-circle:hover {
                color: #fff;
                outline: 0;
                background: rgba(255, 255, 255, .1)
            }
            
            .btn-default {
                color: #42dca3;
                border: 1px solid #42dca3;
                background-color: transparent
            }
            
            .btn-default:focus,
            .btn-default:hover {
                color: #000;
                border: 1px solid #42dca3;
                outline: 0;
                background-color: #42dca3
            }
            
            ul.banner-social-buttons {
                margin-top: 0
            }
            
            @media (min-width:768px) {
                p {
                    font-size: 18px;
                    line-height: 1.6;
                    margin: 0 0 35px
                }
                #mainNav {
                    margin-left: 12px;
                    margin-right: 12px;
                }
                .masthead {
                    height: 100%;
                    padding: 0
                }
                .masthead .intro-body .brand-heading {
                    font-size: 50px;
                    margin-top: 70px;
                }
                .masthead .intro-body .intro-text {
                    font-size: 18px；
                }
                #bg-img {
                    margin-top: 80px;
                }
                .content-section {
                    padding-top: 30px;
                    padding-bottom: 30px
                }
                #pic2 {
                    width: 80%;
                }
            }
            
            @media (min-width:992px) {
                #mainNav {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    -webkit-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
                    -moz-transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
                    transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
                    letter-spacing: 1px;
                    border-bottom: none;
                    background: 0 0
                }
                #mainNav.navbar-shrink {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid rgba(255, 255, 255, .3);
                    background: #000
                }
                #mainNav .nav-link.active {
                    outline: 0;
                    background-color: rgba(255, 255, 255, .3)
                }
                #mainNav .nav-link.active:hover {
                    color: #fff
                }
                #head {
                    margin-top: 150px;
                }
                #question {
                    margin-top: 100px;
                    text-align: center;
                }
                .btn {
                    font-family: Cabin, 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    font-weight: 150;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    text-transform: uppercase;
                    border-radius: 1;
                    margin-right: 20px;
                    margin-top: 5px;
                    background-color: rgba(226, 36, 36, 1);
                    font-size: 15px;
                    padding: 0.3rem 0.7rem;
                }
            }
            
            @media (max-width:1199px) {
                ul.banner-social-buttons {
                    margin-top: 15px
                }
            }
            
            @media (max-width:767px) {
                ul.banner-social-buttons li {
                    display: block;
                    margin-bottom: 20px;
                    padding: 0
                }
                ul.banner-social-buttons li:last-child {
                    margin-bottom: 0
                }
            }
            
            footer {
                padding: 50px 0
            }
            
            footer p {
                font-size: 14px;
                margin: 0
            }
            
             ::-moz-selection {
                background: #fcfcfc;
                background: rgba(255, 255, 255, .2);
                text-shadow: none
            }
            
             ::selection {
                background: #fcfcfc;
                background: rgba(255, 255, 255, .2);
                text-shadow: none
            }
            
            img::selection {
                background: 0 0
            }
            
            img::-moz-selection {
                background: 0 0
            }
            
            body {
                -webkit-tap-highlight-color: rgba(255, 255, 255, .2)
            }